body {
  background-color: #686D76;
  width: 60%;
}

.content {
  background-color: #F0EBE3;
  border: 5px;
  width: 90%;
  margin: auto;
  padding: 1em;
}

hr {
  width: 70%;
}

table td {
  padding: 5px;
}

.intro {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  width:100%;
}
  .introduction_letter {
    width: 40%;
    padding-inline: 10px;
    margin-right: 5%;
    margin-block:auto;
  }
  .arm {
    text-align: center;
    padding-block: 10px;
    border-radius: 10px;
    width: 40%;
  }
    .arm table {
      margin: auto;
      width: 100%;
    }

.summary {
  display:flex;
  flex-wrap:wrap;
  width:100%;
  justify-content: center;
}
  .station {
    text-align: center;
    padding: 1vw;
    margin-inline: 10px;
    border-radius: 10px;
    width: 40%;
    background-color: #F1E5D1;
  }
    .station .title {
      width: 100%;
      font-size: 24px;
    }
    .station table {
      margin: auto;
      width: 100%;
    }
    .station table th, .station table th{
      border-bottom: 1px solid;
      padding-inline: 1em;
      text-align: center;
    }
    .station table th:not(:last-child),
    .station table td:not(:last-child) {
      border-right: 1px solid;
    }

.parameters {
  width: 100%;
  text-align: center;
  margin: auto;
  padding: 1vw;
  border-radius: 10px;
}
  .parameters .flex1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .parameters .flex1 .item {
    padding-block: 1vh;
    background-color: #F1E5D1;
    width: 45%;
  }
    .parameters .flex1 .item .title {
      font-size: 24px;
    }
    .parameters .flex1 .item table {
        margin: auto;
    }
      .parameters .flex1 .item table th,
      .parameters .flex1 .item table th{
        border-bottom: 1px solid;
        padding-inline: 1em;
        text-align: center;
      }
      .parameters .flex1 .item table th:not(:last-child),
      .parameters .flex1 .item table td:not(:last-child){
        border-right: 1px solid;
        padding-inline: 1em;
        text-align: center;
      }

